.index-info {
    text-align: center;
    color: #fff;
    margin: 115px 0 25px;
    font-size: 18px;
    font-weight: 300;
}

.slider {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    aspect-ratio: 3/2;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.8); /* Ombre plus marquée */
}




.image-info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0; /* Aligne le texte à partir du bord gauche */
    right: 0; /* Aligne le texte à partir du bord droit */
    color: white;
    background-color: transparent;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 400;
    text-align: center; /* Centre le texte horizontalement */
    box-sizing: border-box;
}


.slider-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation-button {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-button img {
    width: 15px;
}

.prev-button {
    left: -100px;
}

.next-button {
    right: -100px;
}

.navigation-button:hover {
    background-color: #4e4e4e56;
}

/* RESPONSIVE */

@media (max-width: 850px) {
    .index-info {
        font-size: 16px;
    }

    .slider {
        max-width: 400px;
    }

    .navigation-button {
        width: 35px;
        height: 35px;
    }

    .prev-button {
        left: -75px;
    }

    .next-button {
        right: -75px;
    }

    .navigation-button img {
        width: 12px;
    }
}